<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="project">
    <head>
        <title>Virtual QB</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.min.js"></script>
 
        <!-- 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular-resource.min.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular-route.min.js"></script>
         -->    
        <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
        <script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <ul ng-controller="ListAndEditCtrl">
            <li ng-repeat="cube in vqb.cubes" style="list-style-type: none;float:left;">
                <span class="glyphicon glyphicon-chevron-left"
                      style="vertical-align: middle;"
                      ng-click="rotateLeft(cube)"></span>
                <canvas width="60" height="60"
                        style="background-color:{{cube.sides[cube.activeside].color}};
                               vertical-align: middle;">    
                </canvas>
                <span class="glyphicon glyphicon-chevron-right"
                      style="vertical-align: middle;"
                      ng-click="rotateRight(cube)"></span>
            </li>
        </ul>
        <script>
            angular.module('project', ['firebase'])
 
.value('fbURL', 'https://vqb.firebaseio.com/')
 
.factory('VQB', function($firebase, fbURL) {
  return $firebase(new Firebase(fbURL));
})

 
.controller('ListAndEditCtrl', function($scope, VQB) {
  //$scope.vqb = VQB;
  /// We make a 3-way binding instead,
  /// so that later we don't have to bother with updating
  /// Firebase as well.
  VQB.$bind($scope,'vqb');
  
  $scope.rotateLeft=function(c){
      if (c.activeside==0)
          c.activeside=3;
      else
          c.activeside--;
  }
   
  
  $scope.rotateRight=function(c){
      if (c.activeside==3)
          c.activeside=0;
      else
          c.activeside++;     
  }
})
        </script>
    </body>
</html>
