<!DOCTYPE html>
<html ng-app="VqbApp">
    <head>
        <title>Virtual QB</title>
        <meta charset="UTF-8">
        <!--
        <meta name="viewport" content="width=820, initial-scale=1.0">
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.min.js"></script>
        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular-resource.min.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular-route.min.js"></script>
        -->
        <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
        <script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Passion+One:400,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="vqb.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="text-center col-xs-6 col-xs-offset-3">            
                    <h1>Virtual QB</h1>
                    <p class="lead">Rotate the cubes, or draw on them!</p>
                </div>
            </div>
            <div class="row">
                <table ng-controller="ListAndEditCtrl">
                    <tr ng-repeat="cubeRow in vqb.cubes">
                        <td ng-repeat="cube in cubeRow">
                            <canvas width="60" height="16" class="top-face"></canvas>
                            <div>
                                <svg width="60" height="60" class="front-face"
                                     ng-init="drawingInit()"
                                     ng-mousedown="drawingMouseDownHandler(cube,$event)"
                                     ng-mouseup="drawingMouseUpAndMouseLeaveHandler()"
                                     ng-mouseleave="drawingMouseUpAndMouseLeaveHandler()"
                                     ng-mousemove="drawLine(cube,$event,mouseDown,lastPoint)">
                                    <rect x="0" y="0" width="60" height="60"
                                          ng-attr-fill="{{vqb.bgcolors[cube.activeface]}}"></rect>
                                    <rect ng-repeat="point in cube.faces[cube.activeface].points"
                                          ng-attr-x="{{point.x}}"
                                          ng-attr-y="{{point.y}}"
                                          width="1"
                                          height="1"
                                          ng-attr-fill="{{point.color}}" />
                                </svg>
                                <canvas height="60" width="16"
                                        class="right-face"
                                        style="background-color: {{vqb.bgcolors[faceToRight(cube.activeface)]}};"
                                        ng-click="rotateRight(cube)"></canvas>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-center">
                <p>
                    A project by <a href="https://tbitai.github.io/">Tamás Bitai</a>.
                </p>
                <p>
                    <a href="https://szinesvaros.hu/en/portfolio/legszinesebb-magyar-szo/">QB</a> was an interactive
                    public artwork in Budapest, Hungary.
                </p>
            </div>
        </div>
        <script src="vqb.js"></script>
    </body>
</html>
