<!DOCTYPE html>
<html ng-app="VqbApp">
    <head>
        <title>Virtual QB</title>
        <meta charset="UTF-8">
        
        <!-- 
        <meta name="viewport" content="width=820, initial-scale=1.0">
        -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.min.js"></script>
 
        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular-resource.min.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular-route.min.js"></script>
        -->
   
        <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
        <script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Passion+One:400,900' rel='stylesheet' type='text/css'>
        <style>
            table{
                margin-left:auto;
                margin-right:auto;
            }
            td{
                padding: 6px;
            }
            h1{
                font-family: "Passion One"; font-weight: 900;
                text-transform: uppercase;
                font-size: 37px;
            }
            .lead{
                font-family: "Lobster";
                font-size: 19px;
            }
            .fb-like{
                margin-top: 6px;
            }
            .container {
                width: 882px; /* (60 + 16 + 2 * 6) * 10 + 2 */
            } 
        </style>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
                (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
                

        <div class="container">     
            <div class="row">
                <div class="text-center col-xs-6 col-xs-offset-3">            
                    <h1>Virtual QB</h1>
                    <p class="lead">Rotate the cubes, or draw on them!</p>
                </div>
                <div class="col-xs-1 col-xs-offset-2">
                    <div class="fb-like"
                        data-href="http://tbitai.github.io/vqb/"
                        data-width="120"
                        data-layout="box_count"
                        data-action="like"
                        data-show-faces="true"
                        data-share="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <table ng-controller="ListAndEditCtrl">
                    <tr ng-repeat="cubeRow in vqb.cubes">
                        <td ng-repeat="cube in cubeRow">
                            <canvas width="60" height="16"
                                    style="background-color: #333;
                                   -ms-transform: skew(-45deg,0deg); /* IE 9 */
                                   -webkit-transform: skew(-45deg,0deg); /* Chrome, Safari, Opera */
                                   transform: skew(-45deg,0deg);
                                   display:block;
                                   position: relative; left: 8px; /* adjust bottom side to the front face */"></canvas>

                            <div id="frontAndRightFaceContainer">
                                <svg width="60" height="60"
                                     style="float:left;
                            cursor: crosshair;"
                                     ng-init="mouseDown=0"
                                     ng-mousedown="mouseDown=1"
                                     ng-mouseup="mouseDown=0"
                                     ng-mousemove="drawPoint(cube,$event,mouseDown)">
                                <rect x="0" y="0" width="60" height="60" fill="{{vqb.bgcolors[cube.activeface]}}"></rect>
                                <circle ng-repeat="point in cube.faces[cube.activeface].points"
                                        cx="{{point.x}}"
                                        cy="{{point.y}}"
                                        r="1"
                                        fill="{{point.color}}" />                                        
                                </svg>
                                <canvas height="60" width="16"
                                        style="background-color: {{vqb.bgcolors[faceToRight(cube.activeface)]}};
                                   -ms-transform: skew(0deg,-45deg); /* IE 9 */
                                   -webkit-transform: skew(0deg,-45deg); /* Chrome, Safari, Opera */
                                   transform: skew(0deg,-45deg);
                                   position: relative; top: -8px; /* adjust left side to the front face */
                                   cursor:pointer;"
                                        ng-click="rotateRight(cube)"></canvas>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-center">
                <p>
                    A project by <a href="http://tbitai.github.io/">Tamás Bitai</a>.
                </p>
                <p><a href='http://szinesvaros.hu/index.php/en/projects/item/11-bp-v-erzsebet-ter'>QB</a>
                    was a funny thing at Erzsébet Square, Budapest.
                </p>
            </div>
        </div>
        <script>
            angular.module('VqbApp', ['firebase'])
 
.value('fbURL', 'https://vqb.firebaseio.com/')
 
.factory('VQB', function($firebase, fbURL) {
  return $firebase(new Firebase(fbURL));
})

 
.controller('ListAndEditCtrl', function($scope, VQB) {
  //$scope.vqb = VQB;
  /// We make a 3-way binding instead,
  /// so that later we don't have to bother with updating
  /// Firebase as well.
  VQB.$bind($scope,'vqb');
  
  $scope.faceToRight=function(s){
      if (s==3)
          return 0;
      else
          return s+1;     
  }
  
  $scope.rotateRight=function(c){
      c.activeface = $scope.faceToRight(c.activeface);
  }

  $scope.drawPoint=function(c,e,m){
      
      if (!m) return;
      
      e.preventDefault();
      
      // Create points array if it doesn't exist
      if (c.faces[c.activeface].points===undefined)
          c.faces[c.activeface].points=[];
      
      c.faces[c.activeface].points.push({"x":e.offsetX, "y":e.offsetY, "color":"#333"});
  }
})
        </script>
    </body>
</html>
